
body {
    background-image: url(../images/spiderman.jpg);

}

.logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.jumbotron {
    background: url('assets/images/electromag3.jpg') no-repeat center center; 
    background-size: cover;
    width: 1000px;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-lg {
    padding: 18px 28px;
    font-size: 90px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}



.title{
    font-family: 'Merriweather', serif;
}